*{
  margin: 0;
  padding: 0;
}
#headerWrap {
  width: 1200px;
  height: 200px;
  margin: 0 auto;
}  
.logo{
  width:200px;
  height:200px;
  background: red;
  margin: 0 auto;
  float: left;}
  .logo img{
    width: 200px;
    height: 200px;
  }
 .bannerWrap{
  width: 1000px;
  height: 200px;
  background-color: #6FCEB2;
  float: right;
  text-align: center;
  color: whitesmoke;
}
header{    
  width: 1200px;
  height:25px;
  margin: 0 auto;
  background: white; 
  text-align: center;
}
 #imageWrap{
    width: 1200px;
    height: 600px;
  }
   .imageWrap img{
    width: 1200px;
    height: 600px;
  }
#photos{
  width: 1200px;
  height:auto;
  margin: 0 auto;
  }
  .photos img{
  width: 1200px;
  height:auto;
  margin: 0 auto;
  }
 
  footer{
   width: 1200px;
  height:80px;
  margin: 0 auto;
  background: #723B05; 
  text-align: center;
  }
  