*{
  margin: 0;
  padding: 0;
}
#headerWrap {
  width: 1200px;
  height: 200px;
  margin: 0 auto;
}  
.logoWrap{
  width:200px;
  height:200px;
  background: red;
  margin: 0 auto;
  float: left;}
  .logoWrap img{
    width: 200px;
    height: 200px;
  }
 .bannerWrap{
  width: 1000px;
  height: 200px;
  background-color: #6FCEB2;
  float: right;
}
#menuWrap{
  width: 1200px;
  height:80px;
  margin: 0 auto;
  background: yellow;
  }
  
 #introWrap{
  width: 1200px;
  height: 500px;
  margin :0 auto;
   
 }
  .introbox{
    width :500px;
    height :400px;
    float:left;
    padding: 50px;
    text-align: justify;
    font-size: 20px;
}
#programWrap{
  width: 1200px ;
  height:200px;
 margin: 0 auto;
}
.programbox{
  width: 400px;
  height: 200px;
  float: left;
}
#footerWrap{
  width: 1200px;
  height:400px;
  background: greenyellow;
  margin: top 50px;
}
#footerCredentials{
  width: 1200px;
  height:400px;
 margin: 0 auto;
 background-color: darkblue;
}